<h1> Mostrando o artigo selecionado</h1>

<p> Title: <%= @article.title %></p>

<p> Description: <%= @article.description %></p>
<%= link_to 'Editar esse artigo', edit_article_path(@article) %> |
<%= link_to "Voltando a lista de artigos", articles_path %>
